*{
  margin: 0px;
  outline: none;
}

.smallText{
  font-size: .8rem;
}
.topMarginSmall{
  margin-top: 3px;
}
.fadeText{
  color: rgba(0,0,0,.5);
}
.scroll4::-webkit-scrollbar {
  width: 11px;
  box-shadow: 1px 5px 49px 1px rgba(0,0,0,.3);
  
}
.scroll4::-webkit-scrollbar-thumb {
  background-color: rgb(54, 60, 68);
  border-radius: 10px;
}
.scroll4::-webkit-scrollbar-track {
  background-color: rgb(70, 78, 90);
  border-radius: 10px;
}
.floatRight{
  float: right;
  padding-right: 15px;
}
body{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 40px 2fr 30px 2fr;
  grid-gap: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0,0,0,.7);
  grid-gap: 5px;
}

.titleBar{
  box-shadow: 1px 1px 19px 2px rgba(0,0,0,.1);
  grid-column: 1/4;
  grid-row: 1/2;
  color: rgb(140, 142, 145);
  padding-left: 10px;
  padding-top: 7px;
  font-size: 1rem;
}

.io{
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: rgb(196, 207, 223);
  height: 300px;

}
.inputDiv{
  color: inherit;
  padding: 30px;
  box-shadow: 3px 1px 40px 2px rgba(0,0,0,.4);
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(79, 90, 107);
  overflow: auto;
}
.outputDiv{
  padding: 30px;
  box-shadow: 3px 1px 19px 2px rgba(0,0,0,.4);
  font-family: 'Courier New', Courier, monospace;
  font-size: .9rem;
  background-color: rgb(70, 78, 90);
  color: rgb(248, 237, 218);
  overflow: auto;
}

.liveAppContainer{
  grid-column: 2/3;
  grid-row: 3/5;
}
.liveAppTitleBar{
  box-shadow: 3px 1px 19px 2px rgba(0,0,0,.4);
  padding-left: 20px;
  padding-top: 3px;
  background-color: rgba(79, 90, 107, 0.9);
  color: rgba(245, 245, 245, 1);
  position: relative;
  margin-top: 15px;
  height: 30px;

}
#liveApp{
  box-shadow: 3px 1px 19px 2px rgba(0,0,0,.4);
  padding: 20px;
  height: 80%;
  overflow: auto;
  position: relative;
  margin-top: -3px;
}
